@model IEnumerable<Post>

@{

}
<h1> WELCOME TO ADMIN PANEL</h1>

<a asp-controller="Panel" asp-action="Edit"> Create Post</a>
<div>
    <ul>
        @foreach (var post in Model)
        {
            <li>
                @post.Title

                <span>--</span>
                <a asp-controller="Panel" asp-action="Edit" asp-route-id="@post.Id">
                    Edit
                </a>
                <span>--</span>
                <a asp-controller="Panel" asp-action="Remove" asp-route-id="@post.Id">
                    Remove
                </a>
            </li>

        }

    </ul>
</div>